<div class="mdi">
    <div class="heading">
        <h1>Library System</h1>
        <p>
            Libraries facilitate essential operations, including edit, delete, and get, to manage their collections effectively. The "edit" operation involves updating catalog information, ensuring accuracy. "Delete" removes outdated materials, maintaining relevance. "Get" operations assist patrons in obtaining specific resources, enhancing the user experience and promoting seamless access to knowledge in diverse formats.
            </p>
        <button class="glow-on-hover button-85" routerLink="/hlist">Add Your Details</button>
    </div>
    <div class="card">
        <img src="../assets/library.avif" alt="">
    </div>
    
    
</div>